body {
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

ul {
    text-align: left;
    padding: auto;
}

li {
    list-style-type: none;
}

.add-todo {
    text-align: center;
}

.add-todo * {
    margin: 2px;
}
